<!--<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <img src="../../../assets/fotoperfil.jpeg" class="img-fluid" id="fotoperfil">
        
        <h1>María Kubrak</h1>
        <h3>Full Stack Developer (Jr.)</h3>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
        <h2>Acerca de mí</h2>
        <h4>He dedicado la mayor parte de mi vida laboral, a trabajar como Secretaria, Empleada Administrativa, Recepcionista y tutora de Inglés. Actualmente, me encuentro realizando cursos de Programación Web desarrolados por el <a href="https://www.argentina.gob.ar/inti">Instituto Nacional de Tecnología Industrial</a>, a través de Argentina Programa.</h4>
        </span>
        </div>
</div>-->

<div class="row">
    <div class="col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar persona
        </button>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
        
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <span>
            <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        </span>
    </div>
</div> 

