<div class="row">
    <h2>Hard & Soft Skills</h2><br>
    <h3>Tecnologías</h3><br>
    <div class=" text-center col-sm-2 col-md-2 col-lg-2">
    <circle-progress    
    [percent]="70"
    [radius]="80"
    [imageSrc]="'../assets/html-5.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [showUnits]="false"
    [showSubtitle]="true"
    [backgroundStroke]="'transparent'"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#19153d'"
    [innerStrokeColor]="'#7d868c'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="70"
  [radius]="80"
  [imageSrc]="'../assets/css-3.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="40"
  [radius]="80"
  [imageSrc]="'../assets/js.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="50"
  [radius]="80"
  [imageSrc]="'../assets/bootstrap.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="30"
  [radius]="80"
  [imageSrc]="'../assets/mecanografiado.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="20"
  [radius]="80"
  [imageSrc]="'../assets/java.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="50"
  [radius]="80"
  [imageSrc]="'../assets/angular.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="50"
  [radius]="80"
  [imageSrc]="'../assets/git.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="50"
  [radius]="80"
  [imageSrc]="'../assets/github.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="30"
  [radius]="80"
  [imageSrc]="'../assets/MySQL.jpg'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundStroke]="'transparent'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="4"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
<br>
<h3>Idiomas</h3>
<br>
<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="70"
  [radius]="80"
  [imageSrc]="'../assets/reino-unido.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundColor]="'#ffffff'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="10"
  [radius]="80"
  [imageSrc]="'../assets/portugal.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [showSubtitle]="true"
  [backgroundColor]="'#ffffff'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

<div class=" text-center col-sm-2 col-md-2 col-lg-2">
  <circle-progress    
  [percent]="10"
  [radius]="80"
  [title]="'Polaco'"
  [imageSrc]="'../assets/polonia.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showUnits]="false"
  [backgroundColor]="'#ffffff'"
  [outerStrokeWidth]="8"
  [innerStrokeWidth]="6"
  [outerStrokeColor]="'#19153d'"
  [innerStrokeColor]="'#7d868c'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>

</div>
  