.row{
    padding: 70px;
}
div{
    background-color: rgb(63, 62, 62);
    color: white;
    padding: 20px;
    
}
h2, h3, h5, table, img{
    display: inline;
    color: white;
}

img{
    padding: 15px 15px;
    width: 180px;
    
}

