<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-2"><img src="../../../assets/ClasesDeIngles.png"></div>
    <div class="col-lg-10">
        <h2>Tutora de Inglés</h2> - <h3>1999 - 2021</h3>
        <h5>Clases de apoyo de Inglés a niños y adolescentes en edad escolar; preparación a exámenes. Pilar/ Tortuguitas, Bs.As.</h5>
    </div>


    <div class="col-lg-2"><img src="../../../assets/coster-logo.png" ><a href="http://www.coster.com/placemarks/coster-argentina/"></a></div>
    <div class="col-lg-10">
        <h2>Empresa Plástica - Recepcionista/ Secretaria</h2> - <h3>Junio 2012 - Sept. 2015</h3>
        <h5>Tareas desempeñadas como Recepcionista, Administrativa y Secretaria de todos los sectores que conforman la Empresa. Parque Industrial Pilar, Bs. As.</h5>
    </div>


    <div class="col-lg-2"><a href="https://hostal-azul-necocli.hotelmix.es/"><img
                src="../../../assets/HostalAzulLogo.jpg"></a></div>
    <div class="col-lg-10">
        <h2>Hotel Familiar y de descanso - Recepcionista</h2> - <h3>Sept. 2003 - Junio 2011</h3>
        <h5>Tareas de Recepción de pasajeros y Administración del Hotel.</h5></div>
</div>