<div class="row">
    <h2>Mis Proyectos de Estudio para ARGENTINA PROGRAMA</h2>
    <div class="contenedor">

        <h2>Proyecto N°1- Veterinaria Cuki</h2><br><br>
        <h5>Fecha de realización: 21 de abril de 2022</h5>
        <h5>Lenguajes utilizados: HTML - CSS</h5>
        <button type="button" class="btn btn-secondary"><a href="https://msoledadk.github.io/Proyecto1/">VETERINARIA CUKI</a></button>
    </div>


    <div class="contenedor">
        <h2>Proyecto N°2- Desafío Portfolio Estático</h2><br><br>
        <h5>Fecha de realización: 24 de Julio de 2022</h5>
        <h5>Lenguajes utilizados: HTML - CSS - JS // Librería de apoyo: Bootstrap</h5>
        <button type="button" class="btn btn-secondary"><a href="https://msoledadk.github.io/primerPortfolio/">Portfolio Estático</a></button>
    </div>

    <div class="contenedor">
        <h2>Proyecto Libre - E.K. Fumigaciones</h2><br><br>
        <h5>Fecha de realización: 6 de Agosto de 2022</h5>
        <h5>Lenguajes utilizados: HTML - CSS</h5>
        <button type="button" class="btn btn-secondary"><a href="https://msoledadk.github.io/EKFUMIGACIONES/">EKFUMIGACIONES</a></button>

    </div>

    <div class="contenedor">
        <h2>Proyecto FINAL #YoProgramo- PORTFOLIO: KUBRAK, MARIA</h2><br><br>
        <h5>Fecha de realización: Julio y Agosto de 2022</h5>
        <h5>Lenguajes utilizados: HTML - CSS - JS // Librería de apoyo: Bootstrap // Interfaz utilizada: AngularCli</h5>
        <button type="button" class="btn btn-secondary"><a href="https://msoledadk.github.io/Proyecto_Final/">PORTFOLIO</a></button>
    </div>

</div>